@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    line-height: 1.6;
    background-color: #f7dcdc;
    font-family: 'Poppins', sans-serif;
} */

img{
    width: 100%;
}

body{
  line-height: 1.6;
}

body::before {
    display: block;
    content: '';
    height: 60px;
  }

  section#contentTop{
    margin-top: 3rem !important;
  }
  
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }

  @media(max-width: 500px){
     #learnText{
       padding: 1rem !important;
     }

  }
  